@model AvaliadorGastronomico.Domain.Critica
<div class="review">
    @if (Model != null)
    {
        <h4>@Model.Restaurante.Nome</h4>
        @Html.Image(Model.Restaurante.CaminhoImagem, Model.Restaurante.Nome)
        <h5>Nota: @Model.Nota</h5>
        <p>
            @Html.Raw(Model.Corpo)
            @Html.ActionLink("Editar", "Editar", "Critica", new { Id = Model.Id }, null)
        </p>
    }
</div>
