<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Avaliador Gastronômico</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <img src="@Url.Content("~/Content/images/logo.jpg")" alt="Avaliador Gastronômico" />
            </div>
            <div id="logindisplay">
                <!-- slide 51 -->
                @Html.Partial("_LoginPartial")
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Críticas", "Index", "Critica")</li>
                    <li>@Html.ActionLink("Restaurantes", "Index", "Restaurante")</li>
                    <li>@Html.ActionLink("Cozinhas", "Pesquisar", "Cozinha")</li>
                </ul>
            </div>
        </div>
   
    <div id="main">
        @RenderBody()
        <div id="footer">
            @RenderSection("footer", false)
        </div>
    </div>
    </div>
    @Scripts.Render("~/bundles/jquery")

    @* Slide 45 *@
    @Scripts.Render("~/bundles/jqueryui")
    
    @* Slide 47 *@
    @RazorHelpers.Script("jQuery.tmpl.min.js", Url)

    @* Slide 41 *@
    @RazorHelpers.Script("AvaliadorGastronomico.js", Url)
    
    @* Slide 25 *@
    @RenderSection("scripts", required: false)
</body>
</html>
