@model AvaliadorGastronomico.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
    <h2>Use uma conta de usuário para entrar no sistema.</h2>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Formulário de Acesso</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.NomeConta)
                    @Html.TextBoxFor(m => m.NomeConta)
                    @Html.ValidationMessageFor(m => m.NomeConta)
                </li>
                <li>
                    @Html.LabelFor(m => m.Senha)
                    @Html.PasswordFor(m => m.Senha)
                    @Html.ValidationMessageFor(m => m.Senha)
                </li>
                <li>
                    @Html.CheckBoxFor(m => m.LembrarMe)
                    @Html.LabelFor(m => m.LembrarMe, new { @class = "checkbox" })
                </li>
            </ol>
            <input type="submit" value="Log in" />
        </fieldset>
        <p>
            @Html.ActionLink("Cadastre-se", "Cadastrar") se você não tiver uma conta.
        </p>
    }
</section>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}