@model AvaliadorGastronomico.WebUI.Models.AlteracaoSenhaViewModel

<h3>Alterar Senha</h3>

@using (Html.BeginForm("AlterarSenha", "Acesso"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Formulário de Alteração de Senha</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.SenhaAtual)
                @Html.PasswordFor(m => m.SenhaAtual)
            </li>
            <li>
                @Html.LabelFor(m => m.NovaSenha)
                @Html.PasswordFor(m => m.NovaSenha)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmacaoSenha)
                @Html.PasswordFor(m => m.ConfirmacaoSenha)
            </li>
        </ol>
        <input type="submit" value="Alterar Senha" />
    </fieldset>
}
